/* 
## Usando versoes exatas

quando for salvar alguma dependencia,
ela fica fixa, sem fazer update.
para facilitar a utilizacao e testes do app.

da para usar o bot do github
para atualizar o projeto

rodando os testes automatizados
para ver se o app continua rodando apos a atualizacao

para ai sim poder atualizarc

caso o teste falhar ele informa exatamaente o teste q falhou
para podermos verificar

*/

save-exact=true